// nav.pxl-navbar 
nav.pxl-navbar(role="navigation")
  .pxl-navbar__brand
    a.pxl-navbar__brand__item(href="#")
      +icon('logo', { width: '50px', height: '50px', style: 'fill: #fff;' })
    label.pxl-navbar__brand__item.pxl-navbar__burger(for="side-navigation-on")
      +icon('hamburger-menu', { width: '30px', height: '50px', style: 'fill: #fffC;' })
  .pxl-navbar__menu
    .pxl-navbar__menu__start
      a.pxl-navbar__item(href="#") Home
      a.pxl-navbar__item(href="#") Documentation
      +dropdown('focus')
        +dropdown__trigger({ class: 'pxl-navbar__item' })
          | More
        +dropdown__body
          .dropdown-content
            a.dropdown-item(href='#1') Dropdown item
            a.dropdown-item(href="#2") Other dropdown item
            a.dropdown-item.is-active(href='#3') Active dropdown item
            a.dropdown-item(href='#4') Other dropdown item
            hr.dropdown-divider
            a.dropdown-item(href='#5') With a divider
    .pxl-navbar__menu__end
      .pxl-navbar__item
        .field
          .control
            input.input.is-rounded(type='text', placeholder='Search')
// /nav.pxl-navbar 
