// nav.pxl-navbar 
nav(role="navigation").pxl-navbar
  .pxl-navbar__brand
    a(href="#").pxl-navbar__item
      img(src="https://bulma.io/images/bulma-logo.png", width="112" height="28")
  .pxl-navbar__menu
    .pxl-navbar__menu__start
      a(href="#").pxl-navbar__item Home
      a(href="#").pxl-navbar__item Documentation
      a(href="#").pxl-navbar__item More
    .pxl-navbar__menu__end
      .pxl-navbar__item
        .form-group.mx-sm-3.mb-0
          input(type='text', placeholder='Search').form-control
// /nav.pxl-navbar 
