mixin main-navbar
  // nav.pxl-main-navbar 
  nav.pxl-main-navbar(role="navigation")
    .pxl-main-navbar__brand
      label.pxl-main-navbar__brand__item.pxl-main-navbar__brand__burger(for="side-navigation--state-on")
        span
        span
        span
      a.pxl-main-navbar__brand__item.pxl-main-navbar__brand__image(href="/")
        +icon('logo', { style: 'width: 150px; height: 3.5rem; fill: #fff;' })
    form.pxl-main-navbar__search-box(autocomplete="off")
      .pxl-main-navbar__search-box__item
        input#search-box(type="text", required)
        label(for="search-box") Type something here
        button(type="submit")
          +icon('search')
    .pxl-main-navbar__end
      +dropdown({
        type: 'hover',
        position: 'right'
      })
        +dropdown__trigger({ class: 'pxl-main-navbar__end__user' })
          img(src="https://avatarfiles.alphacoders.com/582/58210.jpg", alt="")
          span Phoenix
        +dropdown__body
          .dropdown-content
            a.dropdown-item(href='#1') Dropdown item
            a.dropdown-item(href="#2") Other dropdown item
            a.dropdown-item.is-active(href='#3') Active dropdown item
            a.dropdown-item(href='#4') Other dropdown item
            hr.dropdown-divider
            a.dropdown-item(href='#5') With a divider

  // ##nav.pxl-main-navbar 
