include ./settings
include ../Components/_init
include ../Widgets/_init
include ../Partials/_init

block PageSettings

doctype html
html(lang=Settings.lang, dir=Settings.dir, class=returnBoolean(PageSettings.pxlBody, 'has-pxl-body'))&attributes(PageSettings.htmlAttr)

  //- Head
  head
    block Head
      include ./head
  
  //- Body
  body(class=returnBoolean(PageSettings.pxlBody, 'has-pxl-body'))&attributes(PageSettings.bodyAttr)
    block Overlays
    |
    |

    // #pxl-body 
    section#pxl-body
      block Body
    // /#pxl-body 

    |
    |
    //- Scripts
    // Scripts 
    block Scripts
      include ./scripts
