include ./settings
include ../Components/_init
include ../Widgets/_init
include ../Partials/_init

block PageSettings

doctype html
html(
  lang=Settings.lang,
  dir=Settings.dir,
  class=PageSettings.pxlBody ? 'has-pxl-body' : null
)&attributes(PageSettings.htmlAttr)

  //- Head
  head
    block Head
      include ./head
  
  //- Body
  body(class=PageSettings.pxlBody ? 'has-pxl-body' : null)&attributes(PageSettings.bodyAttr)
    block Overlays
    |
    |

    // #pxl-body 
    section.pxl-body
      block Body
    // /#pxl-body 

    |
    |
    //- Scripts
    // Scripts 
    block Scripts
      include ./scripts
