include ../Components/_init
include ../Widgets/_init

doctype html
html(lang="en", dir="ltr")

  block pageInformation

  //- Head
  head
    include ./head
  
  //- Body
  body
    mixin body(header = true, footer = true)
      // #pxl-body 
      section#pxl-body
        if header
          //- Header
          include ../Partials/header
          |
          |
        
        //- Content
        main.main-content
          block

        if footer
          |
          |
          //- Footer
          include ../Partials/footer
      // /#pxl-body 

    block body

    |
    |
    //- Scripts
    include ./scripts
