-
  const returnBoolean = (value = false, result) => {
    if(value)
      return result;
    return null;
  }

  const Settings = {
    lang: 'en',
    dir : 'ltr'
  }

  const PageSettings = {
    pxlBody   : true,
    htmlAttr  : {},
    bodyAttr  : {},
    themeColor: '#2B32B2',
    title     : 'doPXL Page'
  }

  const OpenGraph   = {}
  const TwitterCard = {}
