.pxl-modal
  &.scrollable-body
    .pxl-overlay__container
      overflow-x: hidden
      overflow-y: hidden

    .pxl-overlay__body
      position: absolute
      top: 0
      left: 0
    
    .pxl-overlay__inner
      max-height: 100%
    
    .pxl-modal__body
      flex-grow: 1
      flex-shrink: 1
      overflow: auto

  .pxl-overlay__body
    $overlay__inner-animation-size: 100vw
    +padding($modal-spacing)

    // inner animations
    &[data-inner-animation="ttb"]
      .pxl-overlay__inner
        transform: translate(0, -#{$overlay__inner-animation-size})
    &[data-inner-animation="rtl"]
      .pxl-overlay__inner
        transform: translate(#{$overlay__inner-animation-size}, 0)
    &[data-inner-animation="btt"]
      .pxl-overlay__inner
        transform: translate(0, #{$overlay__inner-animation-size})
    &[data-inner-animation="ltr"]
      .pxl-overlay__inner
        transform: translate(-#{$overlay__inner-animation-size}, 0)
    &[data-inner-animation="scale"]
      .pxl-overlay__inner
        transform: scale(.75)
        +visible(false)

  .pxl-overlay__inner
    background-color: $modal-background-color
    width: 100%
    max-width: $modal-width
    display: flex
    flex-direction: column
    border-radius: $modal-radius
    box-shadow: $modal-shadow

  &__header
    background-color: $modal__header-background-color
    display: flex
    align-items: center
    justify-content: space-between
    min-height: $modal__header-height
    color: $black-light
    border-bottom: $modal__header-border
    border-top-left-radius: $modal-radius
    border-top-right-radius: $modal-radius
    +padding($modal__header-padding)

    &__title
      h5
        font-weight: $weight-medium
        margin-bottom: 0

    &__close-button
      display: inline-block
      color: $grey
      font-size: $size-3
      width: 50px
      height: 50px
      margin-bottom: 0
      margin-right: -$size-6
      text-align: center
      line-height: 50px
      cursor: pointer
      user-select: none

      &:hover
        color: $grey-darken

  &__body
    background-color: $modal__body-background-color
    flex-grow: 1
    flex-shrink: 1
    +padding($modal__body-padding)

  &__footer
    background-color: $modal__footer-background-color
    min-height: $modal__footer-height
    display: flex
    align-items: center
    justify-content: flex-end
    border-top: $modal__footer-border
    border-bottom-left-radius: $modal-radius
    border-bottom-right-radius: $modal-radius
    +padding($modal__footer-padding)
