label.pxl-overlay--trigger
  margin-bottom: 0

.pxl-overlay
  input[type=radio].pxl-overlay-state--on
    display: none
    position: absolute
    top: -9999px
    left: -9999px
  
    &:checked ~ .pxl-overlay__wrapper
      +visible(true)

      label.pxl-overlay__background
        background-position: 0 0
        +visible(true)
  
  input[type=radio].pxl-overlay-state--off
    display: none
    position: absolute
    top: -9999px
    left: -9999px

  &__wrapper
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: $overlay-z-index
    overflow-x: hidden
    overflow-y: auto
    transition: all 250ms
    +visible(false)

  &__container
    width: 100%
    height: auto
    min-height: 100%
    position: absolute
    top: 0
    right: 0
    left: 0

  &__background
    background-image: $overlay-background
    background-size: 100% 200%
    background-position: 0 200%
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    margin-bottom: 0
    transition: visibility 250ms, opacity 250ms, background-position 1s
    +visible(false)
