.pxl-side-nav
  .pxl-overlay__inner
    background-color: $white-darken
    width: 320px
    height: 100%
    min-height: 100vh
    position: relative
    z-index: 2
    box-shadow: -5px 0 10px 2.5px rgba(#000, .25)
    transition: all 750ms cubic-bezier(1, 0, .25, 1)
    +padding(null 20px 20px)

  &__close-button
    display: inline-block
    color: $grey
    font-size: $size-3
    width: 50px
    height: 50px
    margin-bottom: 0
    text-align: center
    line-height: 50px
    cursor: pointer
    user-select: none
