input[type=radio].pxl-side-nav__state-off
  & ~ #pxl-body
    transition: $overlay__inner-transition-out

  &:not(:checked) ~ #pxl-body
    transform: translate(-#{$side-nav-width}, 0)
    transition: $overlay__inner-transition-in

.pxl-side-nav
  .pxl-overlay__inner
    background-color: $side-nav-background-color
    width: $side-nav-width
    height: 100%
    min-height: 100vh
    position: relative
    z-index: 2
    box-shadow: $side-nav-shadow
    +padding($side-nav-padding)

  &__close-button
    display: inline-block
    color: $grey
    font-size: $size-3
    width: 50px
    height: 50px
    margin-bottom: 0
    text-align: center
    line-height: 50px
    cursor: pointer
    user-select: none
