mixin dropdown(type = 'hover', attr)
  .pxl-dropdown(class="pxl-dropdown--" + type)&attributes(attr)
    block

mixin dropdown__trigger(attr)
  span.pxl-dropdown__trigger(tabindex="0")&attributes(attr)
    block

mixin dropdown__body
  .pxl-dropdown__body
    block