mixin modal
  .pxl-modal__container
    .pxl-modal__inner
      block

mixin modal__header
  .pxl-modal__header
    block

mixin modal__body
  .pxl-modal__body
    block

mixin modal__footer
  .pxl-modal__footer
    block
