mixin modal__header
  // header.pxl-modal__header
  header.pxl-modal__header
    block
  // ## header.pxl-modal__header

mixin modal__body
  // .pxl-modal__body
  .pxl-modal__body
    block
  // ## .pxl-modal__body

mixin modal__footer
  // footer.pxl-modal__footer
  footer.pxl-modal__footer
    block
  // ## footer.pxl-modal__footer
