extends ./Base/layout

//- page title and meta tags(description, author, keywords)
block pageInformation
  - var title = 'Homepage';
  - var metaKeywords = 'idk';

include ./Widgets/_init

block body
  +overlay('modal-register', false, { class: 'pxl-modal' })
    +overlay__body('center center', 'rtl')
      +modal__header
        .pxl-modal__header__title
          h5 Modal Title
        label.pxl-modal__header__close-button(for="modal-register-off") &times;
      +modal__body
        .field
          label.label Name
          .control
            input.input(type='text', placeholder='Text input')
        .field
          label.label Username
          .control.has-icons-left.has-icons-right
            input.input.is-success(type='text', placeholder='Text input', value='bulma')
            span.icon.is-small.is-left
              i.fas.fa-user
            span.icon.is-small.is-right
              i.fas.fa-check
          p.help.is-success This username is available
        .field
          label.label Email
          .control.has-icons-left.has-icons-right
            input.input.is-danger(type='email', placeholder='Email input', value='hello@')
            span.icon.is-small.is-left
              i.fas.fa-envelope
            span.icon.is-small.is-right
              i.fas.fa-exclamation-triangle
          p.help.is-danger This email is invalid
        .field
          label.label Subject
          .control
            .select
              select
                option Select dropdown
                option With options
        .field
          label.label Message
          .control
            textarea.textarea(placeholder='Textarea')
        .field
          .control
            label.checkbox
              input(type='checkbox')
              | &nbsp;I agree to the 
              a(href='#') terms and conditions

      +modal__footer
        .pxl-tooltip--trigger
          +tooltip('top', '80px')
            span Cancel form
          label(for="modal-register-off").button.is-outline.pxl-overlay__trigger Cancel

  +overlay('default-overlay', false, { class: 'pxl-deneme' })
    +overlay__body('top', 'ttb')
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, nesciunt ipsam ab rerum voluptate reiciendis tenetur inventore vel. Corrupti consectetur temporibus reiciendis mollitia doloremque fugiat voluptate dignissimos tempora deserunt aliquam?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, nesciunt ipsam ab rerum voluptate reiciendis tenetur inventore vel. Corrupti consectetur temporibus reiciendis mollitia doloremque fugiat voluptate dignissimos tempora deserunt aliquam?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, nesciunt ipsam ab rerum voluptate reiciendis tenetur inventore vel. Corrupti consectetur temporibus reiciendis mollitia doloremque fugiat voluptate dignissimos tempora deserunt aliquam?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, nesciunt ipsam ab rerum voluptate reiciendis tenetur inventore vel. Corrupti consectetur temporibus reiciendis mollitia doloremque fugiat voluptate dignissimos tempora deserunt aliquam?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, nesciunt ipsam ab rerum voluptate reiciendis tenetur inventore vel. Corrupti consectetur temporibus reiciendis mollitia doloremque fugiat voluptate dignissimos tempora deserunt aliquam?
  
  +overlay('side-navigation', false, { class: 'pxl-side-nav' })
    +overlay__body('top right', 'rtl')
      +side-nav
        .has-text-right
          label.pxl-side-nav__close-button(for="side-navigation-off") &times;
        .field
          .control
            input.input.is-rounded(type='text', placeholder='Search')
        aside.menu
          p.menu-label
            | General
          ul.menu-list
            li
              a Dashboard
            li
              a Customers
          p.menu-label
            | Administration
          ul.menu-list
            li
              a Team Settings
            li
              a.is-active Manage Your Team
              ul
                li
                  a Members
                li
                  a Plugins
                li
                  a Add a member
            li
              a Invitations
            li
              a Cloud Storage Environment Settings
            li
              a Authentication
          p.menu-label
            | Transactions
          ul.menu-list
            li
              a Payments
            li
              a Transfers
            li
              a Balance


  +body
    .pxl-container
      label.button.is-danger.is-rounded.is-fullwidth.pxl-overlay__trigger.pxl-tooltip__trigger(for="default-overlay-on")
        span Default Overlay
        +tooltip('bottom', '100px')
          | Click to open default overlay
      br
      label.button.is-primary.is-rounded.is-fullwidth.pxl-overlay__trigger.pxl-tooltip__trigger(for="modal-register-on")
        span Modal
        +tooltip('bottom', '100px')
          | Click to open modal
      br
      label.button.is-warning.is-rounded.is-fullwidth.pxl-overlay__trigger.pxl-tooltip__trigger(for="side-navigation-on")
        span Side Navigation
        +tooltip('bottom', '100px')
          | Click to side navigation

      br
      select
        option(value="1") Value 1
        option(value="2") Value 2
        option(value="3") Value 3
        option(value="4") Value 4
      br

      p
        | Ooh, you think darkness is your ally? You merely adopted the dark, I was born in it. Molded by it. I didn't see the light until I was already a man. By then there was nothing to be but blinded.
      p
        | Are you so desperate to fight criminals that you lock yourself in to take them on one at a time ?
      p You know how to disappear. We can teach you to become truly invisible.
      p
        | Behind you, stands a symbol of oppression. Blackgate Prison, where a thousand men have languished under the name of this man: Harvey Dent.
      p Do you feel in charge?
      p They scream and they cry much as you're doing now.
      p This is what happens when an unstoppable force meets an immovable object.
      p All creatures feel fear. Especially the scary ones. 
      p
        | Breathe in your fears. Face them. To conquer fear, you must become fear. You must bask in the fear of other men. And men fear most what they cannot see. You have to become a terrible thought. A wraith. You have to become an idea! Feel terror cloud your senses. Feel its power to distort. To control. And know that this power can be yours. Embrace your worst fear. Become one with the darkness.
      p
        | But I know the rage that drives you. That impossible anger strangIing the grief until the memory of your loved one is just poison in your veins. And one day, you catch yourself wishing the person you loved had never existed so you'd be spared your pain.
      p Gordon... You do like to play things pretty close to the chest.
      p
        | Every man who has lotted here over the centuries, has looked up to the light and imagined climbing to freedom. So easy, so simple! And like shipwrecked men turning to seawater foregoing uncontrollable thirst, many have died trying. And then here there can be no true despair without hope. So as I terrorize Gotham, I will feed its people hope to poison their souls. I will let them believe that they can survive so that you can watch them climbing over each other to stay in the sun. You can watch me torture an entire city. And then when you've truly understood the depth of your failure, we will fulfill Ra's Al Ghul's destiny. We will destroy Gotham. And then, when that is done, and Gotham is... ashes Then you have my permission to die.
      p
        | Okay. Now... Hardened Kevlar plates over titanium-dipped, tri-weave fibers for flexibility. You'll be lighter, faster, more agile.
      p
        | Gotham's been good to our family, but the city's been suffering. People less fortunate than us have been enduring very hard times. So we built a new, cheap, public transportation system to unite the city. And at the center, Wayne tower.
      p Pretty soon we will be chasing down over due library books.
      p
        | Death does not wait for you to be ready! Death is not considerate of fair! And make no mistake, here you face death. Tiger. Jujitsu. Panther. You're skilled. But this is not a dance. And you are afraid. But not of me. Tell us Mr. Wayne, what do you fear?
      p But it's not who you are underneath... it's what you do that defines you.
      p There you are! There is nothing to fear but fear itseIf!
      p It's not who I am underneath but what I do that defines me.
      p
        | Never underestimate Gotham City. People get mugged coming home from work every day of the week. Sometimes things just go bad.
      p
        | I'm Gotham's reckoning. It'll end the ball of damns you've all been living on. A necessary evil.
      p
        | I speak for the rest of the board and Mr Wayne, in expressing our own excitement.
      p I got another another job. Your.
      p
        | You hung up your cape and your cowl but you didn't move on. You never went to find a life.
      p
        | But we've met before. That was a long time ago, I was a kid at St. Swithin's, It used to be funded by the Wayne Foundation. It's an orphanage. My mum died when I was small, it was a car accident. I don't remember it. My dad got shot a couple of years later for a gambling debt. Oh I remember that one just fine. Not a lot of people know what it feels like to be angry in your bones. I mean they understand. The fosters parents. Everybody understands, for a while. Then they want the angry little kid to do something he knows he can't do, move on. After a while they stop understanding. They send the angry kid to a boy's home, I figured it out too late. Yeah I learned to hide the anger, and practice smiling in the mirror. It's like putting on a mask. So you showed up this one day, in a cool car, pretty girl on your arm. We were so excited! Bruce Wayne, a billionaire orphan? We used to make up stories about you man, legends and you know with the other kids, that's all it was, just stories, but right when I saw you, I knew who you really were. I'd seen that look on your face before. It's the same one I taught myself. I don't why you took the fault for Dent's murder but I'm still a believer in the Batman. Even if you're not...
      p Someone like you. Someone who'll rattle the cages.
      p I thought this might be a good opportunity for... improving the foundations.
      p Peace has cost you your strength. Victory has defeated you.
      p
        strong You know what you said about the structures becoming shackles. You were right and I can't take it, the injustice. I mean, no one ever's gonna know who saved the entire city.
