include ./settings
include ../Components/_init
include ../Widgets/_init
include ../Partials/_init

block PageSettings

doctype html
html(
  lang=Settings.lang,
  dir=Settings.dir
)

  //- Head
  head
    block Head
      include ./head
  
  //- Body
  body
    block Layers
    |
    |

    // section.pxl-main-layer
    section.pxl-main-layer
      block Body
    // /section.pxl-main-layer

    |
    |
    //- Scripts
    // Scripts 
    block Scripts
      include ./scripts
