.pxl-dropdown
  position: relative

  &#{&}--focus
    .pxl-dropdown__trigger
      &:focus
        pointer-events: none
        & ~ .pxl-dropdown__body
          transform: scaleY(1)
          +visible(true)
  &#{&}--hover
    &:hover .pxl-dropdown__body
      transform: scaleY(1)
      +visible(true)

  &__trigger
    display: inline-block
    outline: 0
    cursor: pointer
  
  &__body
    box-shadow: 0 5px 5px rgba($black-lighten, .1)
    position: absolute
    top: 100%
    left: 0
    padding-top: 4px
    transition: all 250ms cubic-bezier(1, 0, .25, 1)
    transform-origin: left top
    transform: scaleY(0)
    +unselectable
    +visible(false)
