label.pxl-overlay--trigger {
  margin-bottom: 0;
}

.pxl-overlay {
  input[type=radio].pxl-overlay-state--on {
    display: none;
  
    &:checked ~ .pxl-overlay__wrapper {
      @include visible(true);
    }
  }
  
  input[type=radio].pxl-overlay-state--off {
    display: none;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-overlay;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 250ms;
    @include visible(false);
  }

  &__container {
    width: 100%; height: auto; min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  &__background {
    background-color: hsla(0, 0%, 0%, .5);
    display: block;
    width: 100%; height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 0;
  }
}