.pxl-main-navbar
  background-image: linear-gradient(to right, #1488CC, #2B32B2)
  border-bottom: 1px solid $white-darken
  box-shadow: 0 3px 9px rgba(#000, .1)
  min-height: 3.25rem
  display: flex
  align-items: stretch
  position: sticky
  top: 0
  z-index: $z-index-1

  +breakpoint('until', $breakpoint-desktop - 1)
    display: block

  &__brand
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    min-height: 3.25rem

    &__item
      display: flex
      align-items: center
      +padding(null $size-5)

  &__burger
    margin-bottom: 0
    cursor: pointer
    position: absolute
    top: 0
    right: 0

    +breakpoint('from', $breakpoint-desktop)
      display: none

  &__menu
    display: flex
    align-items: stretch
    flex-grow: 1
    flex-shrink: 0

    +breakpoint('until', $breakpoint-desktop - 1)
      display: none

    &__start
      display: flex
      align-items: stretch
      justify-content: flex-start
      margin-right: auto
    
    &__end
      display: flex
      align-items: stretch
      justify-content: flex-end
      margin-left: auto

  &__item
    display: flex
    align-items: center
    color: $grey-lighten
    font-weight: $weight-normal
    line-height: 1.5
    position: relative
    flex-grow: 0
    flex-shrink: 0
    +padding(.5rem .75rem)
    
    &:hover
      text-decoration: none
      color: $white

    &.pxl-dropdown__trigger
      min-height: 3.25rem
