.pxl-navbar
  background-color: #fff
  border-bottom: 1px solid $white-darken
  box-shadow: 0 3px 9px rgba(#000, .1)
  min-height: 3.25rem
  display: flex
  align-items: stretch
  position: sticky
  top: 0
  z-index: $z-index-1

  &__brand
    display: flex
    align-items: stretch
    flex-shrink: 0
    min-height: 3.25rem

  &__menu
    display: flex
    align-items: stretch
    flex-grow: 1
    flex-shrink: 0

    &__start
      display: flex
      align-items: stretch
      justify-content: flex-start
      margin-right: auto
    
    &__end
      display: flex
      align-items: stretch
      justify-content: flex-end
      margin-left: auto

  &__item
    display: flex
    align-items: center
    color: $grey-darken
    line-height: 1.5
    padding: .5rem .75rem
    position: relative
    flex-grow: 0
    flex-shrink: 0
    
    &:hover
      text-decoration: none
      color: $color-3
